<div class="container">
  <h1>Stupid Coaching</h1>

  <blockquote class="blockquote">
  <p><%= @question %></p>
  <footer class="blockquote-footer"><em>You</em></footer>
  </blockquote>

  <blockquote class="blockquote yellow">
  <p><%= @answer %></p>
  <footer class="blockquote-footer"><em>Your coach</em></footer>
  </blockquote>

  <p><%= link_to "Ask a new question", "ask" %></p>
</div>
