<div class="container">
  <h1>Stupid Coaching</h1>

  <form action="/answer" data-turbo="false">
    <div class="form-group">
      <label for="formGroupExampleInput">Ask your coach anything:</label>
      <div class="input-group mb-3">
      <input type="text" name="answer" class="form-control" placeholder="Question for coach" aria-label="question" aria-describedby="button-addon2">
      <button class="btn btn-primary" type="submit" id="button-addon2">Ask</button>
      </div>
    </div>
  </form>
</div>
